@import '_variaveis';

// atalhos 
input{ border: none; line-height: 25px;}

main{
    width: 100%;
    height: 100vh;
    position: relative;
    .fundo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
        }
    }

    #home{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #9696968f;
        backdrop-filter: blur($blur--fundo);
        display: flex;
        flex-direction: row;

        .logo__midia{   
            width: 8%;
            height: 100%;
            padding: $pad--padrao 0 $pad--padrao $pad--padrao;
            position: relative;
            img{
                width: $width--logo;
                float: right;
            }
            .midia{
                position: absolute;
                width: 50%;
                height: 25%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                i{
                    font-size: 50px;
                }
            }
        }

        .main{
            width: 92%;
            height: 100%;
            padding: $pad--padrao $pad--padrao $pad--padrao 0px;
            display: flex;
            flex-direction: column;

            .main1{
                width: 100%;
                height: 5%;
                display: flex;
                align-items: center;
                justify-content: end;
                a{
                    margin-right: $marg--main1;
                    color: $col--main1;
                }
            }
            .main2{
                width: 100%;
                height: 45%;
                display: flex;
                padding-top: $pad--padrao+2;
                .main2__banner{
                    width: 55%;
                    height: 100%;
                    h1{
                        font-size: 80px;
                        padding-left: $pad--medio;
                        position: relative;
                        color: #fff;
                        &::after{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 4px;
                            background: linear-gradient(to top, $col--princ1, $col--princ2);
                        }
                    }
                    p{
                        padding-top: $pad--medio;
                        color: rgb(233, 233, 233);
                    }
                }
                .main2__cartao{
                    width: 45%;
                    height: 100%;
                    position: relative;
                    padding: $pad--padrao;
                    .cartao{
                        height: 92%;
                        width: 100%;
                        background: #fff;
                    }
                    a{
                        display: flex;
                        align-items: center;
                        right: 1rem;
                        bottom: 0;
                        position: absolute;
                        color: #000;
                        &:hover img{
                            transform: translateX(5px);
                        }
                        img{
                            width: 25px;
                        }
                    }
                }
            }
            .main3{
                width: 100%;
                height: 30%;
                .main3__titulo{
                    h3{
                        text-transform: uppercase;
                        color: $col--branco;
                    }
                }

                .main3__cards{
                    height: 70%;
                    padding: 1rem 0 ;
                    .main3__cartoes{
                        width: 50%;
                        height: 80%;
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5rem 0;
                        a{
                            background: $col--branco;
                            width: 20%;
                            height: 100%;
                            background: $col--branco;
                            margin-right: 1rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            color: $col--main1;
                            border-radius: 9px;
                            box-shadow: 0px 0px 10px rgb(53, 52, 52);
                            span{
                                padding:  0 0 0.7rem 0;
                                font-size: 20px;
                            }
                            img{
                                height: 30%;
                                width: 22%;
                            }
                        }
                    }
                    p{
                        color: $col--branco;
                    }

                }
                .main3__im{
                    width: 25%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    a{
                        padding: 0.2rem 6rem;
                        text-align: center;
                        border: 1px solid $col--branco;
                        border-radius: 25px;
                        color: $col--branco;
                    }
                }
            }
            .main4{
                width: 50%;
                height: 20%;
                display: flex;
                align-items: center;
                .atalho__cond{
                    padding: 1rem;
                    background: #CCCCCC;
                    height: 60%;
                    .main4__top{
                        display: flex;
                        .main4__top1{
                            input{
                                border-radius: 10px;
                            }
                        }
                        .main4__top2{
                            padding-left: 1rem;
                            input{
                                background: transparent;
                                border-bottom: 1px solid $col--branco;
                            }
                        }
                    }
                    .main4__vencimento{
                        padding: 0.3rem 0;
                        display: flex;
                        span{
                            padding-left: 0.3rem ;
                            cursor: pointer;
                        }
                    }
                }
            }

        }

        .lembrete{
            position: absolute;
            right: 4rem;
            bottom: 0;
            width: 13%;
            height: 30%;
            background: $back--lembrete;
            padding: 2.5rem  $pad--medio 0 $pad--medio ;
            img{
                position: absolute;
                top: 0;
                left: 1rem;
            }

            p{
                font-size: $font--p3;
                padding-top: 0.5rem;
            }

            span{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                background: $back--lembrete-span;
                padding: $pad--medio;
                font-size: $font--p3; 
                
            }
        }

    }
}