
// ======== BLUR INTENS ========
$blur--fundo: 7px;

// ======== CORES ======== 
$col--main1: #515151;
$col--princ1:#D315B5 ;
$col--princ2: #1F90C0;
$col--branco: rgb(238, 238, 238);

// ======== BACKGROUND ======== 
$back--lembrete: #3d3939;
$back--lembrete-span: #832a2a;

// ======== WIDTH ======== 
$width--logo: 75%;

// ======== PADDING ======== 
$pad--padrao: 1rem;
$pad--medio: 0.5rem;

// ======== MARGIN ======== 
$marg--main1: 13rem;

// ======== FONT-SIZE ======== 
$font--p1: 10px;
$font--p2: 13px;