@import '_variaveis';
@import '_home';



*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.icon__tamanho{
    width: 25px;
}