input {
  border: none;
  line-height: 25px;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .fundo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .fundo img {
  width: 100%;
  height: 100%;
}

main #home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9696968f;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main #home .logo__midia {
  width: 8%;
  height: 100%;
  padding: 1rem 0 1rem 1rem;
  position: relative;
}

main #home .logo__midia img {
  width: 75%;
  float: right;
}

main #home .logo__midia .midia {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #home .logo__midia .midia i {
  font-size: 50px;
}

main #home .main {
  width: 92%;
  height: 100%;
  padding: 1rem 1rem 1rem 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #home .main .main1 {
  width: 100%;
  height: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main #home .main .main1 a {
  margin-right: 13rem;
  color: #515151;
}

main #home .main .main2 {
  width: 100%;
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3rem;
}

main #home .main .main2 .main2__banner {
  width: 55%;
  height: 100%;
}

main #home .main .main2 .main2__banner h1 {
  font-size: 80px;
  padding-left: 0.5rem;
  position: relative;
  color: #fff;
}

main #home .main .main2 .main2__banner h1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#D315B5), to(#1F90C0));
  background: linear-gradient(to top, #D315B5, #1F90C0);
}

main #home .main .main2 .main2__banner p {
  padding-top: 0.5rem;
  color: #e9e9e9;
}

main #home .main .main2 .main2__cartao {
  width: 45%;
  height: 100%;
  position: relative;
  padding: 1rem;
}

main #home .main .main2 .main2__cartao .cartao {
  height: 92%;
  width: 100%;
  background: #fff;
}

main #home .main .main2 .main2__cartao a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 1rem;
  bottom: 0;
  position: absolute;
  color: #000;
}

main #home .main .main2 .main2__cartao a:hover img {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

main #home .main .main2 .main2__cartao a img {
  width: 25px;
}

main #home .main .main3 {
  width: 100%;
  height: 30%;
}

main #home .main .main3 .main3__titulo h3 {
  text-transform: uppercase;
  color: #eeeeee;
}

main #home .main .main3 .main3__cards {
  height: 70%;
  padding: 1rem 0;
}

main #home .main .main3 .main3__cards .main3__cartoes {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
}

main #home .main .main3 .main3__cards .main3__cartoes a {
  background: #eeeeee;
  width: 20%;
  height: 100%;
  background: #eeeeee;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #515151;
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 10px #353434;
          box-shadow: 0px 0px 10px #353434;
}

main #home .main .main3 .main3__cards .main3__cartoes a span {
  padding: 0 0 0.7rem 0;
  font-size: 20px;
}

main #home .main .main3 .main3__cards .main3__cartoes a img {
  height: 30%;
  width: 22%;
}

main #home .main .main3 .main3__cards p {
  color: #eeeeee;
}

main #home .main .main3 .main3__im {
  width: 25%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #home .main .main3 .main3__im a {
  padding: 0.2rem 6rem;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  color: #eeeeee;
}

main #home .main .main4 {
  width: 50%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #home .main .main4 .atalho__cond {
  padding: 1rem;
  background: #CCCCCC;
  height: 60%;
}

main #home .main .main4 .atalho__cond .main4__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #home .main .main4 .atalho__cond .main4__top .main4__top1 input {
  border-radius: 10px;
}

main #home .main .main4 .atalho__cond .main4__top .main4__top2 {
  padding-left: 1rem;
}

main #home .main .main4 .atalho__cond .main4__top .main4__top2 input {
  background: transparent;
  border-bottom: 1px solid #eeeeee;
}

main #home .main .main4 .atalho__cond .main4__vencimento {
  padding: 0.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #home .main .main4 .atalho__cond .main4__vencimento span {
  padding-left: 0.3rem;
  cursor: pointer;
}

main #home .lembrete {
  position: absolute;
  right: 4rem;
  bottom: 0;
  width: 13%;
  height: 30%;
  background: #3d3939;
  padding: 2.5rem 0.5rem 0 0.5rem;
}

main #home .lembrete img {
  position: absolute;
  top: 0;
  left: 1rem;
}

main #home .lembrete p {
  font-size: 16px;
  padding-top: 0.5rem;
}

main #home .lembrete span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: #832a2a;
  padding: 0.5rem;
  font-size: 16px;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

.icon__tamanho {
  width: 25px;
}
/*# sourceMappingURL=principal.css.map */